# vex
ansible
ansible-lint
awscli
beautifulsoup4
blinkstick
boto3
caniusepython3
click
colorama
colorlog
curdling
django
fabric
flake8
flask
future
httpbin
ipython
isort
laboratory
modernize
murl
percol
pew
pip
prospector[with_everything]
pydocstyle
pylint
pytest
pytest-cov
requests
saws
setuptools
termcolor
tornado
tox
tryagain
twine
uwsgi
vcrpy
vulture
wrapt
yapf
