# vex
ansible
ansible-container
ansible-lint
aws-shell
awscli
beautifulsoup4
blinkstick
boto3
caniusepython3
click
coala-bears
colorama
colorlog
curdling
cython
detox
django
fabric
flake8
flask
future
httpbin
ipython
isort
jedi
jupyter
laboratory
lizard
magic-wormhole
modernize
murl
percol
pew
pip
pipdeptree
prompter
proselint
prospector[with_everything]
pycodestyle
pydocstyle
pylint
pytest
pytest-cov
requests
setuptools
setuptools_scm
siesta
sphinx
sphinxcontrib-napoleon
termcolor
tornado
tox
tryagain
twine
uwsgi
vcrpy
vulture
wrapt
xonsh
yapf
