# vex
ansible
awscli
beautifulsoup4
blinkstick
boto3
caniusepython3
click
colorama
colorlog
curdling
django
fabric
flake8
flask
future
httpbin
ipython
isort
laboratory
modernize
percol
pew
pip
prospector[with_everything]
pylint
pytest
pytest-cov
requests
saws
setuptools
termcolor
tornado
tox
twine
uwsgi
vcrpy
vulture
wrapt
yapf
