ansible
awscli
beautifulsoup4
blinkstick
boto3
click
colorama
colorlog
curdling
django
fabric
flake8
flask
ipython
isort
percol
pew
pip
pylint
pytest
pytest-cov
requests
saws
setuptools
termcolor
tornado
tox
vulture
wrapt
yapf
